In [143]:
import pandas as pd
import numpy as np

In [144]:
data = pd.read_csv('Downloads/janestreet.csv')
data

    Trade id Trade date Security  Quantity Buy/Sell     CSD    Counterparty
0     913161    8/20/18      IBM        50        B   CREST  Monsters, Inc.
1     389453    8/20/18      HTC       100        B     DTC  Monsters, Inc.
2     772644    8/20/18     AAPL        50        B   CREST  Monsters, Inc.
3     477805    8/20/18     AAPL        60        B   CREST  Monsters, Inc.
4     939686    8/20/18      IBM       100        B   CREST  Monsters, Inc.
5     549068    8/20/18      HTC        50        S   CREST  Monsters, Inc.
6     774957    8/20/18      IBM       100        B     DTC  Monsters, Inc.
7     741044    8/20/18      HTC       100        B     DTC  Monsters, Inc.
8     366848    8/20/18     AAPL       140        B   CREST            ACME
9     684925    8/20/18     AAPL       100        B  Strate            ACME
10    904996    8/20/18     AAPL       100        B   CREST            ACME
11    379274    8/20/18     AAPL       400        S   CREST            ACME
12    600771    8/20/18      HTC       100        B   CREST            ACME
13    992854    8/20/18      IBM        50        S     DTC            ACME
14    438011    8/20/18     AAPL       120        B     DTC            ACME
15    796353    8/20/18      IBM        80        B  Strate  Monsters, Inc.
16    311524    8/20/18      IBM        60        S  Strate  Monsters, Inc.
17    181730    8/20/18      HTC        20        S     DTC  Monsters, Inc.
18    695111    8/20/18      HTC        70        B  Strate  Monsters, Inc.
19    606874    8/20/18      IBM       130        S  Strate  Monsters, Inc.
20    929513    8/20/18      HTC       170        B   CREST  Monsters, Inc.
21    399054    8/20/18      HTC        80        B  Strate  Monsters, Inc.
22    687706    8/20/18     AAPL        20        S  Strate            ACME
23    348883    8/20/18     AAPL       100        S     DTC            ACME
24    920362    8/20/18      IBM        60        B     DTC       BnL Corp.
25    697494    8/20/18     AAPL       150        B   CREST  Monsters, Inc.
26    553042    8/20/18      IBM       100        B  Strate            ACME
27    792842    8/20/18      HTC        50        B     DTC            ACME
28    342855    8/20/18      IBM        60        S  Strate  Monsters, Inc.
29    188126    8/20/18      HTC        10        B   CREST  Monsters, Inc.
..       ...        ...      ...       ...      ...     ...             ...
66    582646    8/21/18      IBM        40        S  Strate            ACME
67    369079    8/21/18      HTC        90        B     DTC            ACME
68    620077    8/21/18      IBM        20        S     DTC            ACME
69    587224    8/21/18     AAPL        80        S   CREST            ACME
70    583090    8/21/18      HTC        90        B   CREST            ACME
71    900746    8/21/18      IBM        80        B  Strate       BnL Corp.
72    820296    8/21/18      IBM        50        S     DTC  Monsters, Inc.
73    476139    8/21/18     AAPL       140        S     DTC            ACME
74    604675    8/21/18      HTC        30        S   CREST            ACME
75    606480    8/21/18      HTC        70        S     DTC            ACME
76    597174    8/21/18      IBM       100        S  Strate            ACME
77    382420    8/21/18      HTC        60        S   CREST            ACME
78    547352    8/21/18      HTC        50        B     DTC  Monsters, Inc.
79    785348    8/21/18      HTC        60        B   CREST  Monsters, Inc.
80    876226    8/21/18      IBM        40        S     DTC  Monsters, Inc.
81    140741    8/21/18     AAPL        90        S     DTC  Monsters, Inc.
82    722242    8/21/18      IBM       150        B   CREST       BnL Corp.
83    239024    8/21/18     AAPL        80        B   CREST            ACME
84    196936    8/21/18      HTC       250        S  Strate            ACME
85    880181    8/21/18      HTC       100        S     DTC            ACME
86    793496    8/21/18     AAPL        40        B     DTC            ACME
87    663643    8/21/18      IBM       110        B   CREST       BnL Corp.
88    186270    8/21/18      IBM       200        B   CREST       BnL Corp.
89    424023    8/21/18      IBM       200        S   CREST  Monsters, Inc.
90    265853    8/21/18      HTC        90        B  Strate            ACME
91    718569    8/21/18      HTC       100        B   CREST  Monsters, Inc.
92    990212    8/21/18      IBM        40        S   CREST            ACME
93    435340    8/21/18      HTC        70        S   CREST  Monsters, Inc.
94    500594    8/21/18      HTC        30        S  Strate       BnL Corp.
95    424662    8/21/18      IBM       100        S     DTC            ACME

[96 rows x 7 columns]

In [145]:
data.columns

Index(['Trade id', 'Trade date', 'Security', 'Quantity', 'Buy/Sell', 'CSD',
       'Counterparty'],
      dtype='object')

In [146]:
col = ['IBM', 'HTC', 'AAPL']
row = ['CREST', 'DTC', 'Strate']

matrix = np.reshape((100, 100, 100, 100, 100, 100, 100, 100, 100), (3, 3))
matrix2 = np.reshape((0, 0, 0, 0, 0, 0, 0, 0, 0), (3, 3))

row1 = ['Strate']
d1Strate = [100, 100, 100] #keep track of strate for 8/20
d2Strate = [0, 0, 0] #keep track of strate for 8/21

res = pd.DataFrame(matrix, columns=col, index=row)
res2 = pd.DataFrame(matrix2, columns=col, index=row)

res

        IBM  HTC  AAPL
CREST   100  100   100
DTC     100  100   100
Strate  100  100   100

In [147]:
for i in range(len(data)):
    if data['Trade date'][i] == "8/20/18":
        
        if data['Counterparty'][i] != "BnL Corp.":
        
            if data['Security'][i] == "IBM":
            
                if data['Buy/Sell'][i] == 'B':
                    if data['CSD'][i] == 'CREST': 
                        res['IBM'][0] += data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res['IBM'][1] += data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d1Strate[0] += data['Quantity'][i]
                    
                elif data['Buy/Sell'][i] == 'S':
                    if data['CSD'][i] == 'CREST':
                        res['IBM'][0] -= data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res['IBM'][1] -= data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d1Strate[0] -= data['Quantity'][i]    
                    
            elif data['Security'][i] == "HTC":
                if data['Buy/Sell'][i] == 'B':
                    if data['CSD'][i] == 'CREST':
                        res['HTC'][0] += data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res['HTC'][1] += data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d1Strate[1] += data['Quantity'][i]    

                elif data['Buy/Sell'][i] == 'S':
                    if data['CSD'][i] == 'CREST':
                        res['HTC'][0] -= data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res['HTC'][1] -= data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d1Strate[1] -= data['Quantity'][i]

            elif data['Security'][i] == "AAPL":
                if data['Buy/Sell'][i] == 'B':
                    if data['CSD'][i] == 'CREST':
                        res['AAPL'][0] += data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res['AAPL'][1] += data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d1Strate[2] += data['Quantity'][i]

                elif data['Buy/Sell'][i] == 'S':
                    if data['CSD'][i] == 'CREST':
                        res['AAPL'][0] -= data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res['AAPL'][1] -= data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d1Strate[2] -= data['Quantity'][i]

# total for 8/22

In [148]:
res

        IBM  HTC  AAPL
CREST   270  140    10
DTC     170  200   150
Strate  100  100   100

In [149]:
d1Strate

[30, 120, 230]

In [150]:
for i in range(len(data)):
    if data['Trade date'][i] == "8/21/18":
        
        if data['Counterparty'][i] != "BnL Corp.":
        
            if data['Security'][i] == "IBM":
            
                if data['Buy/Sell'][i] == 'B':
                    if data['CSD'][i] == 'CREST': 
                        res2['IBM'][0] += data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res2['IBM'][1] += data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d2Strate[0] += data['Quantity'][i]
                    
                elif data['Buy/Sell'][i] == 'S':
                    if data['CSD'][i] == 'CREST':
                        res2['IBM'][0] -= data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res2['IBM'][1] -= data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d2Strate[0] -= data['Quantity'][i]    
                    
            elif data['Security'][i] == "HTC":
                if data['Buy/Sell'][i] == 'B':
                    if data['CSD'][i] == 'CREST':
                        res2['HTC'][0] += data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res2['HTC'][1] += data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d2Strate[1] += data['Quantity'][i]    

                elif data['Buy/Sell'][i] == 'S':
                    if data['CSD'][i] == 'CREST':
                        res2['HTC'][0] -= data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res2['HTC'][1] -= data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d2Strate[1] -= data['Quantity'][i]

            elif data['Security'][i] == "AAPL":
                if data['Buy/Sell'][i] == 'B':
                    if data['CSD'][i] == 'CREST':
                        res2['AAPL'][0] += data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res2['AAPL'][1] += data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d2Strate[2] += data['Quantity'][i]

                elif data['Buy/Sell'][i] == 'S':
                    if data['CSD'][i] == 'CREST':
                        res2['AAPL'][0] -= data['Quantity'][i]
                    if data['CSD'][i] == 'DTC':
                        res2['AAPL'][1] -= data['Quantity'][i]
                    if data['CSD'][i] == 'Strate':
                        d2Strate[2] -= data['Quantity'][i]

In [151]:
res2

        IBM  HTC  AAPL
CREST  -260 -140    20
DTC    -290  -60  -260
Strate    0    0     0

In [157]:
day2total = res + res2
day2total

        IBM  HTC  AAPL
CREST    10    0    30
DTC    -120  140  -110
Strate  100  100   100

In [160]:
d1Strate

[30, 120, 230]

# total for 8/23

In [159]:
day2total['IBM'][2] += d1Strate[0]
day2total['HTC'][2] += d1Strate[1]
day2total['AAPL'][2] += d1Strate[2]

day2total

        IBM  HTC  AAPL
CREST    10    0    30
DTC    -120  140  -110
Strate  130  220   330

In [129]:
d2Strate

[10, -280, 10]

# total for 8/24

In [161]:
day2total['IBM'][2] += d2Strate[0]
day2total['HTC'][2] += d2Strate[1]
day2total['AAPL'][2] += d2Strate[2]

day2total

        IBM  HTC  AAPL
CREST    10    0    30
DTC    -120  140  -110
Strate  140  -60   340